.list-group-item {
  font-weight: bold;
  background-color: #eddefd;
  border: 1px solid #d8b4fe;
}

.list-group-item:focus,
.list-group-item:hover,
.list-group-item.active {
  background-color: #d8b4fe;
  color: #555;
  border: 1px solid #d8b4fe;
}