.list-group-item {
  background-color: #ffe3e3;
  border-color: #ffc9c9;
  border-radius: 3px;
  font-weight: bold;
}

.recipe-list-item-description {
  max-width: calc(100% - 71px);
}

.recipe-list-item-description > p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-list-item-image > img {
  width: 61px;
  max-height: 61px;
  border-radius: 3px;
}

.list-group-item:focus,
.list-group-item:hover,
.list-group-item.active {
  background-color: #ffc9c9;
  color: #555;
  border-color: #ffc9c9;
}

.list-group-item:focus *,
.list-group-item:hover *,
.list-group-item.active * {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}


