<div class="row">
  <div class="col-sx-12">
    <app-recipe-list-commands class="recipe-list-commands"></app-recipe-list-commands>
  </div>
</div>

<div class="row">
  <div class="col-sx-12">
    <ul class="list-inline">
      <li *ngFor="let recipe of recipes">
        <app-recipe-list-item [recipe]="recipe"></app-recipe-list-item>
      </li>
    </ul>
    <div class='list-placeholder' *ngIf="!recipes.length">
      <app-empty>
        Looks empty here :( Start by adding a new recipe!
      </app-empty>
    </div>
  </div>
</div>