.recipe-list-item-detail {
  background-color: #70a1ff;
  display: flex;
  padding: 1rem;
  margin-top: 10px;
  border-radius: 3px;
  font-weight: bold;
}

.recipe-list-item-detail-name {
  flex: 50%;
}

.recipe-list-item-detail-ingredients {
  flex: 50%;
  list-style: none;
  text-align: right;
  margin: 0px;
}

.recipe-list-item-detail-ingredients .glyphicon {
  margin-left: 5px;
  vertical-align: text-top;
}