<div class="row">
  <div class="col-xs-12">
    <app-recipe-details-commands></app-recipe-details-commands>
  </div>
</div>

<div class="recipe-details">
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="recipe?.image"
        [alt]="recipe?.name"
        class="img-responsive"
      >
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>
        {{ recipe?.name }}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      {{ recipe?.description }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <br>
      <span>
        Ingredients:
      </span>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let ingredient of recipe?.ingredients"
        >
          {{ ingredient.name }} - {{ ingredient?.amount }}
        </li>
      </ul>
    </div>
  </div>
</div>