.list-group-item {
  background-color: #ffe3e3;
  border-color: #ffc9c9;
  border-radius: 3px;
  font-weight: bold;
}

.recipe-list-item-description {
  max-width: calc(100% - 71px);
}

.recipe-list-item-image > img {
  max-height: 61px;
}

a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus, 
button.list-group-item:hover {
  background-color: #ffc9c9;
}