<div class="btn-group" appDropdown>
  <button type="button" class="btn btn-primary dropdown-toggle">
    Manage Recipie
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a [routerLink]="'/' + Page.SHOPPING">
        <span (click)="onShopClick($event)">
          Shop Ingredients
        </span>
      </a>
      <a href="#">
        <span>
          Edit Recipe
        </span>
      </a>
      <a href="#">
        <span>
          Delete Recipe
        </span>
      </a>
    </li>
  </ul>
</div>